.contact-us-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px 30px;
    backdrop-filter: blur(3px);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    
}

.contact-us-form h2 {
    margin-bottom: 10px;
}

.contact-us-form p {
    margin-bottom: 20px;
}

.contact-us-form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-us-form input[type="text"],
.contact-us-form input[type="email"],
.contact-us-form textarea {
    border: none;
    outline: none;
    padding: 10px 5px;
    background-color: var(--transparent);
    border-bottom: var(--gray) 1px solid;
}

.contact-us-form button {
    margin-top: 20px;
    border: none;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--dark);
    box-shadow: none;
    color: white;
    transition: background-color 0.2s;
}
    
.contact-us-form button:hover {
    background-color: rgb(179, 179, 179);
}